{% block body %}
	<style>
		id="" media="all"/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzQdL_nz.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzwdL_nz.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzMdL_nz.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz8dL_nz.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz4dL_nz.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzI.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: italic;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxIIzI.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
		/* cyrillic-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2') format('woff2');
			unicode-range: U + 460-052F, U + 1C80-1C88, U + 20B4, U + 2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
		}
		/* cyrillic */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2') format('woff2');
			unicode-range: U + 400-045F, U + 490-0491, U + 4B0-04B1, U + 2116;
		}
		/* greek-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2') format('woff2');
			unicode-range: U + 1F00-1FFF;
		}
		/* greek */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2') format('woff2');
			unicode-range: U + 370-03FF;
		}
		/* vietnamese */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2') format('woff2');
			unicode-range: U + 102-0103, U + 110-0111, U + 128-0129, U + 168-0169, U + 1A0-01A1, U + 1AF-01B0, U + 1EA0-1EF9, U + 20 AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2') format('woff2');
			unicode-range: U + 100-024F, U + 259, U + 1E00-1EFF, U + 2020, U + 20A0-20AB, U + 20AD-20CF, U + 2113, U + 2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 900;
			src: url('/fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4.woff2') format('woff2');
			unicode-range: U + 0-00FF, U + 131, U + 152-0153, U + 2BB-02BC, U + 2C6, U + 2 DA, U + 2 DC, U + 2000-206F, U + 2074, U + 20 AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U+FEFF, U+FFFD;
		}
	</style>

	<!DOCTYPE html>
	<html lang="en">
		<head>

			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="Colorlib Templates">
			<meta name="author" content="Colorlib">
			<meta name="keywords" content="Colorlib Templates">

			<title>Sign up</title>

			<link href="css/register/style1.min.css" rel="stylesheet" media="all">
			<link href="css/register/style2.min.css" rel="stylesheet" media="all">
			<link href="css/register/style3.min.css" rel="stylesheet" media="all">
			<link href="css/register/style4.css" rel="stylesheet" media="all">

			<link href="css/register/select5.css" rel="stylesheet" media="all">
			<link
			href="css/security/style.css" rel="stylesheet" media="all">
			<!--<link href="css/register/styleRegister.scss" rel="stylesheet" media="all">-->

			<meta name="robots" content="noindex, follow">
			<script>
				(function (w, d) {
!function (a, e, t, r, z) {
a.zarazData = a.zarazData || {},
a.zarazData.executed = [],
a.zarazData.tracks = [],
a.zaraz = {
deferred: []
};
var s = e.getElementsByTagName("title")[0];
a.zarazData.c = e.cookie,
s && (a.zarazData.t = e.getElementsByTagName("title")[0].text),
a.zarazData.w = a.screen.width,
a.zarazData.h = a.screen.height,
a.zarazData.j = a.innerHeight,
a.zarazData.e = a.innerWidth,
a.zarazData.l = a.location.href,
a.zarazData.r = e.referrer,
a.zarazData.k = a.screen.colorDepth,
a.zarazData.n = e.characterSet,
a.zarazData.o = (new Date).getTimezoneOffset(), //
a.dataLayer = a.dataLayer || [],
a.zaraz.track = (e, t) => {
for (key in a.zarazData.tracks.push(e), t) 
a.zarazData["z_" + key] = t[key]





},
a.zaraz.preSet = [],
a.zaraz.set = (e, t, r) => {
a.zarazData["z" + e] = t,
a.zaraz._preSet.push([e, t, r])
},
a.dataLayer.push({
"zaraz.start": (new Date).getTime()
}),
a.addEventListener("DOMContentLoaded", (() => {
var t = e.getElementsByTagName(r)[0],
z = e.createElement(r);
z.defer = !0,
z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))),
t.parentNode.insertBefore(z, t)
}))
}(w, d, 0, "script");
})(window, document);
			</script>
		</head>

		<body>
			<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
				<div class="wrapper wrapper--w960">
					<div class="card card-2">
						<div class="card-heading"></div>
						<div class="card-body">
							<div class='row'>
								<h1 style="color:white">Sign up</h1>
							</div>
							<form method="post">
								{{ form_start(registrationForm) }}
								<div class=" p-t-30">
									{{ form_row(registrationForm.fullname, {'attr': {'class': 'input--style-2','color':'black','placeholder':'Full Name','label':'  '} }) }}
								</div>
								<div class="p-t-30">
									{{ form_row(registrationForm.dob, {'attr': {'class': 'input--style-2'} }) }}


								</div>
								<div class=" p-t-30">
									{{ form_row(registrationForm.email, {'attr': {'class': 'input--style-2','placeholder':'Email'}}
									) }}
								</div>
								<div class=" p-t-30">

									{{ form_row(registrationForm.plainPassword,{'attr': {'class': 'input--style-2','placeholder':'Password','label':'  '} }) }}
								</div>

								<div class="p-t-30">
									{{ form_row(registrationForm.Register,{'attr': {'class': 'btn btn--radius btn--green','placeholder':'Register'} })}}
								</div>
								{{ form_end(registrationForm) }}
							</form>
							<script src="js/x1.min.js"></script>

							<script src="js/register/x2.min.js"></script>
							<script src="js/register/x3.min.js"></script>
							<script src="js/register/x4.js"></script>

							<script src="js/register/global.js"></script>

							<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
							<script>
								window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
							</script>

							<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6d0c65ff597e41b8","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
						</body>
					</html>

				{% endblock %}
