<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>

		<!--- basic page needs
																																																																																																																																																																																																																												    ================================================== -->
		<meta charset="utf-8">
		<title>Aticles</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="robots" content="noindex, nofollow">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/profile/styles.css">

		<link rel="stylesheet" href="css/profile/vendor.css">

		<script src="js/profile/modernizr.js"></script>

		<!-- favicons
																																																																																																																																																																																																																												    ================================================== -->
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
		<link rel="stylesheet" href="css/navbar.css">
	</head>

	<body
		id="top" style="background: #FFFFFF">
		<!-- preloader
																																																																																																																																																																																																																												    ================================================== -->
		<div id="preloader">
			<div id="loader"></div>
		</div>


		<div class="overlay">
			<nav>
				<a href="/home">Home</a>
				<a href="/profile">
					{{user.fullname}}
				</a>
				{% if  is_granted('ROLE_ADMIN') %}
					<a href="/admin">Dashboard</a>
				{% endif %}
				<a href="/logout">logout</a>
				<div class="animation start-home"></div>
			</nav>


			<!-- masonry
																																																																																																																																																																																																																															    ================================================== -->
			<section class="s-bricks">
				<div class="masonry">
					<div class="bricks-wrapper h-group">

						<div class="grid-sizer"></div>

						{% for article in articles %}

							{% set img = article.getImage() %}
							<article class="brick entry format standard animate-this">

								<div class="entry__thumb">
									<a href="{{ path( 'article' ,{'id': article.id }) }}" class="thumb-link">

										<img src="{{ img }}" srcset="{{ img }} 1x, {{ img }} 2x" alt="">
									</a>
								</div>
								<!-- end entry__thumb -->

								<div class="entry__text">
									<div class="entry__header">

										<div class="entry__meta">
											<span class="entry__cat-links"></span>
										</div>

										<h1 class="entry__title">
											<a href="{{ path( 'article' ,{'id': article.id }) }}">{{ article.getTitre() }}</a>
										</h1>
										<p>{{ article.getDescription() }}</p>

									</div>
									<div class="entry__excerpt"></div>
								</div>
								<!-- end entry__text -->

							</article>
						{% endfor %}
						<!-- end article -->

					</div>
					<!-- end brick-wrapper -->

				</div>
				<!-- end masonry -->

			</section>
			<!-- end s-bricks -->


			<!-- Java Script
																																																																																																																																																																																																																																   ================================================== -->
			<script src="js/profile/jquery-3.2.1.min.js"></script>
			<script src="js/profile/plugins.js"></script>
			<script src="js/profile/main1.js"></script>
		</body>
	</body>
</html>
